<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>관리자 공연 관리</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	
	<link rel="stylesheet" href="/css/main-style.css">

    <link rel="stylesheet" href="/css/perfmgr/performance-management.css">
	
	<th:block th:replace="~{common/common}"></th:block>
</head>

<body>

    <th:block th:replace="~{common/header}"></th:block>

	
    <div class="container">
        <div class="performance-container">
            <div class="performanceList">
              <h2 onclick="location.href='/perfmgr/performance-list'">공연 목록</h2>
            </div>

            <div class="updatePerformance">
              <h2 onclick="location.href='/perfmgr/performance-registration'">공연 등록</h2>
            </div>
        </div>
    </div>

    <!-- common/footer 추가-->
	<th:block th:replace="~{common/footer}"></th:block>


    <script>

    </script>
	
	<script src="/js/perfmgr/performance-management.js"></script>
	
</body>

</html>