<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper	namespace="edu.kh.project.notice.model.mapper.NoticeMapper">


	<!-- 최근 공지사항 4개 가져오기 -->
	<select id="getRecentNotices" resultType="Notice">
		<![CDATA[
		    SELECT * 
				FROM (
					SELECT 
					    ANNOUNCE_NO,
					    ANNOUNCE_TITLE,
					    ANNOUNCE_CONTENT,
					    TO_CHAR(ANNOUNCE_WRITE_DATE, 'YYYY-MM-DD') AS ANNOUNCE_WRITE_DATE
					FROM 
					    ANNOUNCEMENT
					WHERE ANNOUNCE_DEL_FL = 'N'
					ORDER BY 
					    ANNOUNCE_WRITE_DATE DESC
				) 
			WHERE ROWNUM <= 4
		]]>
	</select>


	<!-- 공지사항 상세 조회 -->
	<select id="detailNotice">	
		SELECT 
		    ANNOUNCE_NO,
		    ANNOUNCE_TITLE,
		    ANNOUNCE_CONTENT,
		    TO_CHAR(ANNOUNCE_WRITE_DATE, 'YYYY-MM-DD') AS ANNOUNCE_WRITE_DATE
		FROM 
		    ANNOUNCEMENT
		WHERE ANNOUNCE_DEL_FL = 'N'
		AND ANNOUNCE_NO = #{noticeId}
	</select>
	
	
	<!-- 공지사항 목록 조회 (페이징, 검색 포함) -->
    <select id="selectNoticeList" parameterType="map" resultType="Notice">
        SELECT *
        FROM (
            SELECT ROWNUM rn, A.*
            FROM (
                SELECT
                	ANNOUNCE_NO,
					ANNOUNCE_TITLE,
					ANNOUNCE_CONTENT,
					TO_CHAR(ANNOUNCE_WRITE_DATE, 'YYYY-MM-DD') AS ANNOUNCE_WRITE_DATE,
					ANNOUNCE_DEL_FL
                FROM ANNOUNCEMENT
                WHERE 1=1
                AND ANNOUNCE_DEL_FL = 'N'
                <if test="searchQuery != null and searchQuery != ''">
                    <choose>
                        <when test="searchType == 'title'">
                            AND UPPER(ANNOUNCE_TITLE) LIKE '%' || UPPER(#{searchQuery}) || '%'
                        </when>
                        <when test="searchType == 'venue'">
                            AND UPPER(ANNOUNCE_CONTENT) LIKE '%' || UPPER(#{searchQuery}) || '%'
                        </when>
                        <otherwise>
                            AND (
                                UPPER(ANNOUNCE_TITLE) LIKE '%' || UPPER(#{searchQuery}) || '%'
                                OR UPPER(ANNOUNCE_CONTENT) LIKE '%' || UPPER(#{searchQuery}) || '%'
                            )
                        </otherwise>
                    </choose>
                </if>
                ORDER BY ANNOUNCE_WRITE_DATE ASC
                <![CDATA[
                ) A
                WHERE ROWNUM <= #{offset} + #{limit}
            )
            WHERE rn > #{offset}
        ]]>
    </select>

</mapper>
