<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.project.payment.model.mapper.paymentMapper">
	
	
	<!-- 결제 내역 저장 -->
	<insert id="insertPayment">
		 INSERT INTO TB_PAYMENT (
	        PAY_NO, IMP_UID, MERCHANT_UID, PAY_METHOD, PG_PROVIDER, PG_TYPE, PG_TID, NAME,
	        PAID_AMOUNT, CURRENCY, BUYER_NAME, BUYER_TEL, BUYER_ADDR,
	        BUYER_POSTCODE, BUYER_EMAIL, STATUS, PAID_AT, RECEIPT_URL
	    ) VALUES (
	        PAY_NO_SEQ.NEXTVAL, #{impUid}, #{merchantUid}, #{payMethod}, #{pgProvider}, #{pgType}, #{pgTid},
	        #{name}, #{paidAmount}, #{currency}, #{buyerName}, #{buyerTel},
	        #{buyerAddr}, #{buyerPostcode}, #{buyerEmail},
	        #{status}, #{paidAt}, #{receiptUrl}
	    )
	</insert>
	
	<!-- 예약 내역 저장 -->
	<insert id="insertBooking">
	    INSERT INTO TB_TICKET_BOOKING (
	        BOOKING_ID, BOOKING_DATE, TOTAL_PRICE, PAYMENT_DATE, MEMBER_NO, MT20ID, MT10ID, MERCHANT_UID, BOOKING_STATUS
	    ) VALUES (
	        BOOKING_ID_SEQ.NEXTVAL, SYSDATE, #{totalPrice}, SYSDATE, #{memberNo}, #{mt20id}, #{mt10id}, #{merchantUid}, 'COMPLETE'
	    )
	</insert>

	<!-- 좌석 데이터 삽입 -->
	<insert id="insertTicketSeat">
	    INSERT INTO TB_TICKET_SEAT (
	        SEATS_ID, SEAT_STATUS, MT20ID, MEMBER_NO, SHOW_DATE, GRADE_ID, SHOW_TIME
	    ) VALUES (
	        #{seatId}, 'BOOKED', #{mt20id}, #{memberNo}, TO_DATE(#{showDate}, 'YYYY-MM-DD'), #{gradeId}, #{showTime}
	    )
	</insert>
	
	<!-- 예매 내역 데이터 삽입 -->
  <insert id="insertBookingHistory" parameterType="map">
  	INSERT INTO TB_BOOKING_HISTORY (BOOKING_DATE, PAID_AT, BOOKING_ID, PERFORMANCE_NAME, SHOW_DATE_TIME, TICKET_COUNT, CANCELABLE_UNTIL, BOOKING_STATUS)
  	VALUES (#{bookingDate}, #{paidAt}, #{bookingId}, #{performanceName}, #{showDateTime}, #{ticketCount}, #{cancelableUntil}, #{bookingStatus})
  </insert>



</mapper>