<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.project.payment.model.mapper.paymentMapper">

	<!-- 특정 공연 좌석 조회 -->
	<select id="selectSeatsByShow">
		SELECT TS.SEATS_ID AS seatId,
			TS.GRADE_ID AS gradeId,
			SG.GRADE_NAME AS gradeName,
			PSP.PRICE AS price,
			TS.SEAT_STATUS AS status,
			TS.SHOW_DATE AS showDate,
			TS.SHOW_TIME AS showTime
		FROM TB_TICKET_SEAT TS
		JOIN TB_SEAT_GRADE SG ON TS.GRADE_ID = SG.GRADE_ID
		JOIN TB_PERFORMANCE_SEAT_PRICE PSP
		ON TS.GRADE_ID = PSP.GRADE_ID AND TS.MT20ID = PSP.MT20ID
		WHERE TS.SHOW_DATE = TO_DATE(#{showDate}, 'YYYY-MM-DD')
		AND TS.SHOW_TIME = #{showTime}
	</select>
	
	<!-- 좌석 업데이트 -->
	<update id="updateSeatStatus">
	    UPDATE TB_TICKET_SEAT
	    SET SEAT_STATUS = #{status}
	    WHERE SEATS_ID = #{seatId}
	</update>

	<select id="selectSeatPrice" resultType="int">
	    SELECT PRICE
	    FROM TB_PERFORMANCE_SEAT_PRICE
	    WHERE GRADE_ID = #{gradeId}
	</select>
	
	
	<!-- 결제 내역 저장 -->
	<insert id="insertPayment">
		 INSERT INTO TB_PAYMENT (
	        PAY_NO, IMP_UID, MERCHANT_UID, PAY_METHOD, PG_PROVIDER, PG_TYPE, PG_TID, NAME,
	        PAID_AMOUNT, CURRENCY, BUYER_NAME, BUYER_TEL, BUYER_ADDR,
	        BUYER_POSTCODE, BUYER_EMAIL, STATUS, PAID_AT, RECEIPT_URL
	    ) VALUES (
	        PAY_NO_SEQ.NEXTVAL, #{impUid}, #{merchantUid}, #{payMethod}, #{pgProvider}, #{pgType}, #{pgTid},
	        #{name}, #{paidAmount}, #{currency}, #{buyerName}, #{buyerTel},
	        #{buyerAddr}, #{buyerPostcode}, #{buyerEmail},
	        #{status}, #{paidAt}, #{receiptUrl}
	    )
	</insert>


</mapper>