<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.project.payment.model.mapper.paymentMapper">

	<!-- 특정 공연 좌석 조회 -->
	<select id="selectSeatsByShow" parameterType="map" resultType="edu.kh.project.payment.model.dto.Seat">
	    SELECT 
	        TPF.MT20ID AS mt20id,  
	        TPT.DAY_OF_WEEK AS dayOfWeek,  
	        TPT.PERFORMANCE_TIME AS performanceTime,  
	        TVSI.SEAT_COUNT AS totalSeatCount,  
	        TVSI.SEAT_COUNT - COALESCE(COUNT(TTS.SEATS_ID), 0) AS availableSeatCount,  
	        SG.GRADE_NAME AS gradeName, 
	        PSP.PRICE AS gradePrice 
	    FROM ETFIVE.TB_PERFORMANCES_DETAIL TPF
	    JOIN ETFIVE.TB_PERFORMANCE_TIME TPT
	        ON TPF.MT20ID = TPT.MT20ID
	    JOIN ETFIVE.TB_VENUE_SEAT_INFO TVSI
	        ON TPF.MT10ID = TVSI.MT10ID
	    LEFT JOIN ETFIVE.TB_TICKET_SEAT TTS
	        ON TTS.MT20ID = TPF.MT20ID
	        AND TTS.GRADE_ID = TVSI.GRADE_ID
	        AND TTS.SEAT_STATUS = 'available'
	        AND TTS.SHOW_DATE = TO_DATE(#{selectedDate}, 'YYYY-MM-DD')
	        AND TTS.SHOW_TIME = #{selectedTime}
	    JOIN TB_PERFORMANCE_SEAT_PRICE PSP
	        ON TPF.MT20ID = PSP.MT20ID
	        AND TVSI.GRADE_ID = PSP.GRADE_ID
	    JOIN TB_SEAT_GRADE SG
	        ON SG.GRADE_ID = TVSI.GRADE_ID
	    WHERE TPF.MT20ID = #{mt20id}
	      AND TPT.DAY_OF_WEEK = #{dayOfWeek}
	      AND TPT.PERFORMANCE_TIME = #{performanceTime}
	    GROUP BY 
	        TPF.MT20ID, 
	        TPT.DAY_OF_WEEK, 
	        TPT.PERFORMANCE_TIME, 
	        TVSI.SEAT_COUNT, 
	        SG.GRADE_NAME, 
	        PSP.PRICE
	    ORDER BY SG.GRADE_NAME
	</select>

	
	<!-- 좌석 업데이트 -->
	<update id="updateSeatStatus">
		UPDATE TB_TICKET_SEAT
	    SET SEAT_STATUS = #{status}
	    WHERE SEATS_ID = #{seatId}
	</update>

	<!-- 좌석 가격 -->
	<select id="selectSeatPrice" resultType="int">
	    SELECT PRICE
	    FROM TB_PERFORMANCE_SEAT_PRICE
	    WHERE GRADE_ID = #{gradeId}
	</select>
	
	<!-- 공연 상세 정보 출력 -->
	<select id="getPerformanceDetail" resultType="edu.kh.project.performance.model.dto.Performance">
		SELECT 
		   PD.MT20ID AS mt20id,
	  	   PD.MT10ID AS mt10id, 	
		   PD.PRFNM AS prfnm,
		   PD.PRFPDFROM AS prfpdfrom,
		   PD.PRFPDTO AS prfpdto,
		   PD.FCLTYNM AS fcltynm,
		   PD.PRFRUNTIME AS prfruntime,
		   PD.POSTER AS poster
		FROM "TB_PERFORMANCES_DETAIL" PD
		WHERE PD.MT20ID = #{performanceId}
	</select>
	


</mapper>