<header>
	
	<nav class="navbar navbar-expand-lg navbar-light">
		<div class="container-fluid">
			
			<button class="btn d-lg-none mobile-menu-btn">
				<i class="fas fa-bars"></i>
			</button>
			
			<a href="/" class="logo">
				<i class="fas fa-book-reader"></i>
				BookCommunity
			</a>
			
			<div class="top-nav ms-auto d-none d-lg-flex">
				<a href="/" class="nav-link">홈</a>
				<a href="#" class="nav-link">도서목록</a>
				<a href="#" class="nav-link">랭킹</a>
				<a href="#" class="nav-link">커뮤니티</a>
				<a href="/adminBoard/dashAdmin" class="nav-link admin-btn ms-3">관리자님</a>
				<a href="/myPage/login" class="nav-link login-btn ms-3">로그아웃</a>
			</div>
			
		</div>
	</nav>
	
</header>



<!-- navigator -->