<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>티켓팅 시스템</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	
	<link rel="stylesheet" href="/css/main-style.css">
	
	<th:block th:replace="~{common/common}"></th:block>
</head>

<body>

    <th:block th:replace="~{common/header}"></th:block>

    <footer>
        <p>© 2024 티켓팅 시스템</p>
        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
    </footer>


    <script>

    </script>
	
	<script src="/js/main.js"></script>
	
</body>

</html>