<!-- 왼쪽 사이드 메뉴 조각(fragment) 
  -> 필요한 곳에서
   th:replace="~{조각경로}" / th:insert="~{조각경로}" 
-->
<aside class="sidebar">
	<nav class="sidebar-nav">
		
		
		
		<div class="nav-item">
			<a href="/myPage/info" class="nav-link">내 정보</a>
		</div>

		<div class="nav-item">
			<a href="/myPage/favBook" class="nav-link">내가 찜한 도서 목록</a>
		</div>

		<div class="nav-item">
			<a href="/myPage/boardList" class="nav-link">내가 작성한 게시글 목록</a>
		</div>

		<div class="nav-item">
			<a href="/myPage/commentList" class="nav-link">내가 작성한 댓글 목록</a>
		</div>

		<div class="nav-item">
			<a href="/myPage/changePw" class="nav-link">비밀번호 변경</a>
		</div>

	</nav>
</aside>