<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Payment Page</title>
    <!-- jQuery CDN 추가 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- 아임포트 스크립트 추가 -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>

    <!-- CSS 파일 링크 -->
    <link rel="stylesheet" href="/css/payment/payment.css">
</head>

<body data-step="3">
    <!-- 진행 단계 헤더 -->
    <div class="progress-header">
        <div class="progress-container">
            <div class="progress-line"></div>
            <div class="progress-line-active" id="progressBar"></div>

            <div class="progress-step active">
                <div class="step-number">1</div>
                <div class="step-text">좌석 선택</div>
            </div>

            <div class="progress-step active">
                <div class="step-number">2</div>
                <div class="step-text">주문자 정보</div>
            </div>

            <div class="progress-step active">
                <div class="step-number">3</div>
                <div class="step-text">결제</div>
            </div>
        </div>
    </div>

    <div class="payment-container">
        <div class="info-section">
            <h3>좌석 정보: <span id="seat-info"></span></h3>
            <h3>예매자 : <span id="booking-nickname"></span></h3>
            <h3>이메일 : <span id="booking-email"></span></h3>
            <h3>연락처: <span id="booking-phone"></span></h3>
            <h3>총 결제 금액: <span id="total-price"></span></h3>
        </div>

        <div class="payment-buttons">
            <button type="button" class="prev-btn" id="prev-btn">이전 단계</button> <!-- 이전 단계 버튼 -->
            <button id="cardPay">카드 결제</button>
            <button id="kakaoPay">카카오페이 결제</button>
        </div>
    </div>

     <!-- JS 파일 연결 -->
     <script src="/js/payment/payment.js"></script>
</body>

</html>