<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>회원정보 관리</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	
	<link rel="stylesheet" href="/css/main-style.css">

    <link rel="stylesheet" href="/css/myPage/memberInfo.css">
	
	<th:block th:replace="~{common/common}"></th:block>
</head>

<body>

    <th:block th:replace="~{common/header}"></th:block>

	
    <div class="container">
        <div class="member-container">
            <div class="updateInfo">
                <h2> 회원 정보 수정 </h2>
            </div>

            <div class="ChangePw">
                <h2> 비밀번호 변경 </h2>
            </div>

            <div class="addressManagement">  
                <h2 onclick="location.href='/mypage/addressManagement'"> 배송지 관리 </h2>
            </div>

            <div class="membershipOut">
                <h2 onclick="location.href='/mypage/membershipOut'"> 회원탈퇴 </h2>
            </div>

        </div>
    </div>


	<!-- 비밀번호 확인 모달 -->
	<div id="passwordModal" class="pwModal">
	    <div class="modalContent">
	        <span class="modal-cls" id="clsModal">&times;</span>
	        <div class="verify-box">
	            <div class="verify-title">정보 보호를 위해<br>비밀번호를 다시 한 번 확인합니다</div>
	            <div class="input-group">
	                <input type="password" id="passwordInput" placeholder="비밀번호를 입력하세요">
	            </div>
	            <div class="error-message" id="errorMsg">비밀번호가 일치하지 않습니다.</div>
	            <div class="button-group">
	                <button onclick="closeModal()" class="btn-cancel">취소</button>
	                <button id="verifyBtn" class="btn-verify">확인</button>
	            </div>
	        </div>
	    </div>
	</div>

    <!-- common/footer 추가-->
	<th:block th:replace="~{common/footer}"></th:block>


    <script>

    </script>
	
	<script src="/js/main.js"></script>
	<script src="/js/myPage/memberInfo.js"></script>
	
</body>

</html>