<!-- 왼쪽 사이드 메뉴 조각(fragment) 
  -> 필요한 곳에서
   th:replace="~{조각경로}" / th:insert="~{조각경로}" 
-->
<aside class="sidebar">
	<nav class="sidebar-nav">
		<div class="nav-item">
			<a href="/myPage/profile" class="nav-link" 
				th:classappend="${currentUri.contains('/myPage/profile') || currentUri.contains('/myPage/editInfo')} ? 'active'">
				내 정보
			</a>
		</div>

		<div class="nav-item">
			<a href="/myPage/favBook" class="nav-link" 
				th:classappend="${currentUri.contains('/myPage/favBook')} ? 'active'">
				내가 찜한 도서 목록
			</a>
		</div>

		<div class="nav-item">
			<a href="/myPage/boardList" class="nav-link" 
				th:classappend="${currentUri.contains('/myPage/boardList') || currentUri.contains('/myPage/boardDetail') || currentUri.contains('/myPage/boardDetail/edit')} ? 'active'">
				내가 작성한 게시글 목록
			</a>
		</div>

		<div class="nav-item">
			<a href="/myPage/commentList" class="nav-link" 
				th:classappend="${currentUri.contains('/myPage/commentList') || currentUri.contains('/myPage/commentDetail')} ? 'active'">
				내가 작성한 댓글 목록
			</a>
		</div>

		<div class="nav-item">
			<a href="/myPage/changePw" class="nav-link" 
				th:classappend="${currentUri.contains('/myPage/changePw')} ? 'active'">
				비밀번호 변경
			</a>
		</div>
	</nav>
</aside>
