<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>티켓팅 시스템</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

	<th:block th:replace="~{common/common}"></th:block>
	<link rel="stylesheet" href="/css/notice/noticeList.css">

</head>

<body>

	<th:block th:replace="~{common/header}"></th:block>

	<div class="notice-container">
		<div class="notice-header-section">
			<h1 class="notice-title">공지사항</h1>
		</div>

		<div class="notice-list">
			<th:block th:each="notice : ${noticeList}">
				<div class="notice-item">
					<div class="notice-header" th:onclick="'toggleNotice(' + ${notice.announceNo} + ')'">
						<div class="notice-info">
							<span class="notice-badge">공지</span>
							<span class="notice-subject" th:text="${notice.announceTitle}">제목</span>
						</div>
						<div class="notice-meta">
							<span class="notice-date"
								th:text="${notice.announceWriteDate}">
								날짜
							</span>
							<div class="notice-arrow">
								<i class="fas fa-chevron-down"></i>
							</div>
						</div>
					</div>
					<div th:id="'notice-content-' + ${notice.announceNo}" class="notice-content">
						<div class="notice-content-inner">
							<p th:text="${notice.announceContent}">내용</p>
						</div>
					</div>
				</div>
			</th:block>
		</div>
	</div>

	<!-- common/footer 추가-->
	<th:block th:replace="~{common/footer}"></th:block>


	<script src="/js/notice/noticeList.js"></script>

</body>

</html>