<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ET e.ticket</title>
</head>

<body>

	<header th:fragment="header">
		<nav class="navbar">
			<div class="container-fluid">
				<div class="logo">
					<img th:src="@{/apple-touch-icon.png}" alt="ET e.ticket Logo">
					ET e.ticket
				</div>

				<div class="nav-menu">
					<a href="/performance/genre/musical" class="nav-link">뮤지컬</a>
					<a href="/performance/genre" class="nav-link">연극</a>
					<a href="/performance/genre/classic" class="nav-link">클래식</a>
				</div>

				<div class="search-container">
					<input type="text" placeholder="검색어를 입력하세요">
					<button>검색</button>
				</div>

				<div class="header-buttons">
					<!-- 세션이 없을 때: 로그인, 회원가입 -->
					<th:block th:if="${session.loginMember == null}">
						<button class="login-button" onclick="openModal('loginModal')">로그인</button>
						<button class="signup-button" onclick="openModal('selectModal')">회원가입</button>
					</th:block>

					<!-- 세션이 있을 때: 마이페이지, 로그아웃 -->
					<th:block th:if="${session.loginMember != null}" th:object="${session.loginMember}">
						<th:block th:if="${session.loginMember.memberAuth == 1}">
							<button class="login-button" th:text="*{memberNickname}">계정 닉네임</button>
							<button class="mypage-button">마이페이지</button>
						</th:block>
						<th:block th:if="${session.loginMember.memberAuth == 2}">
							<button class="login-button" th:text="*{memberNickname}">계정 닉네임</button>
							<a href="/adminBoard/dashAdmin" class="login-button" th:text="*{memberNickname}">계정 닉네임</a>
						</th:block>
						<button class="logout-button" onclick="logoutSession()">로그아웃</button>
					</th:block>
				</div>
			</div>
		</nav>
	</header>

	<!-- Modal for Login -->
	<div id="loginModal" class="modal">
		<div class="modal-content">
			<div class="modal-header">
				<h2>로그인</h2>
				<span class="close" onclick="closeModal('loginModal')">&times;</span>
			</div>
			<div class="modal-body">
				<input type="text" id="memberLoginId" placeholder="아이디" required>
				<input type="password" id="memberLoginPw" placeholder="비밀번호" required>
				<button type="submit" id="login-Btn">로그인</button>
			</div>
			<div class="modal-footer">
				<p>아직 계정이 없으신가요? <a href="#" onclick="openModal('selectModal'); closeModal('loginModal')">회원가입</a></p>
				<div class="header-buttons">
					<!-- 세션이 없을 때: 로그인, 회원가입 -->
					<th:block th:if="${session.loginMember == null}">
						<button class="login-button" onclick="openModal('loginModal')">로그인</button>
						<button class="signup-button" onclick="openModal('selectModal')">회원가입</button>
						<button class="login-button" onclick="location.href='/mypage/memberInfo'">계정 닉네임</button>
					</th:block>

					<!-- 세션이 있을 때: 계정 닉네임, 마이페이지, 로그아웃 -->
					<th:block th:if="${session.loginMember != null}" th:object="${session.loginMember}">
						<th:block th:if="${session.loginMember.memberAuth == 1}">
							<!-- <button class="login-button" onclick="location.href='/mypage/memberInfo'" th:text="*{memberNickname}">계정 닉네임</button> -->
							<button class="mypage-button">마이페이지</button>
						</th:block>
						<th:block th:if="${session.loginMember.memberAuth == 2}">
							<button class="login-button" th:text="*{memberNickname}">계정 닉네임</button>
							<a href="/adminBoard/dashAdmin" class="login-button" th:text="*{memberNickname}">계정 닉네임</a>
						</th:block>
						<button class="logout-button" onclick="logoutSession()">로그아웃</button>
					</th:block>
				</div>
			</div>
		</div>
	</div>

	<!-- select for Signup -->
	<div id="selectModal" class="modal">
		<div class="modal-content">
			<div class="modal-header">
				<h2>회원 선택</h2>
			</div>
			<div class="modal-body">
				<button onclick="openModal('userSignupModal'); closeModal('selectModal')">사용자</button>
				<button onclick="openModal('peradmSignupModal'); closeModal('selectModal')">공연관리자</button>
			</div>
		</div>
	</div>

	<!-- Modal for user Signup -->
	<div id="userSignupModal" class="modal">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="back-button" onclick="openModal('selectModal'); closeModal('userSignupModal')"></a>
				<h2>회원가입</h2>
				<span class="close" onclick="closeModal('userSignupModal')">&times;</span>
			</div>
			<div class="modal-body">
				<form id="signUpForm" action="/member/signup" method="POST">
					<input type="text" name="memberEmail" id="memberEmail" placeholder="이메일을 입력하세요">
					<span class="signUp-message" id="emailMessage"></span>
					<button type="button" id="sendAuthKeyBtn">인증번호 받기</button>

					<div class="verification-container" style="margin-top : 10px;">
						<input type="text" id="authKey" placeholder="인증번호 입력">
						<button type="button" id="checkAuthKeyBtn">인증하기</button>
					</div>
					<span class="signUp-message" id="authKeyMessage"></span>

					<input id="memberId" name="memberId" type="text" placeholder="아이디 입력">
					<span class="signUp-message" id="idMessage"></span>

					<input id="memberPw" name="memberPw" type="password" placeholder="비밀번호 입력">
					<span class="signUp-message" id="pwMessage"></span>

					<input id="memberPwConfirm" type="password" placeholder="비밀번호 확인 입력">
					<span class="signUp-message" id="confirmPwMessage"></span>

					<input id="memberNickname" name="memberNickname" type="text" placeholder="닉네임">
					<span class="signUp-message" id="nickMessage"></span>

					<input id="memberTel" name="memberTel" type="text" placeholder="전화번호 (예: 010-1234-5678)">
					<span class="signUp-message" id="telMessage"></span>

					<div class="verification-container">
						<input type="text" name="memberAddress" placeholder="우편번호" maxlength="6" id="postcode">
						<button type="button" id="searchAddress">검색</button>
					</div>

					<input type="text" name="memberAddress" placeholder="도로명/지번 주소" id="address">
					<input type="text" name="memberAddress" placeholder="상세 주소" id="detailAddress">

					<div class="gender-radio-container">
						<label for="maleRadio" class="gender-radio">
							<input type="radio" id="maleRadio" name="gender" value="male">
							남자
						</label>
						<label for="femaleRadio" class="gender-radio">
							<input type="radio" id="femaleRadio" name="gender" value="female">
							여자
						</label>
					</div>

					<button type="submit">회원가입</button>
				</form>
			</div>
			<div class="modal-footer">
				<p>이미 계정이 있으신가요?
					<a href="#" onclick="openModal('loginModal'); closeModal('userSignupModal')">로그인</a>
				</p>
			</div>
		</div>
	</div>

	<div id="peradmSignupModal" class="modal">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="back-button" onclick="openModal('selectModal'); closeModal('peradmSignupModal')"></a>
				<h2>회원가입</h2>
				<span class="close" onclick="closeModal('peradmSignupModal')">&times;</span>
			</div>
			<div class="modal-body">

				<input type="text" placeholder="이메일" required>
				<input type="password" placeholder="비밀번호" required>
				<input type="password" placeholder="비밀번호 확인" required>
				<button>회원가입</button>
			</div>
			<div class="modal-footer">
				<p>이미 계정이 있으신가요? <a href="#" onclick="openModal('loginModal'); closeModal('peradmSignupModal')">로그인</a>
				</p>
			</div>
		</div>
	</div>

	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script src="/js/header.js"></script>
</body>

</html>