<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>memberInfo</title>
</head>
<body>

    <div id="memberInfo" class="">
        <div class="memberInfo-grid">
                <div class="memberInfo-item" onclick="navigateToSection('회원 정보 수정')">
                        <h3>회원 정보 수정</h3>
                </div>
                <div class="memberInfo-item" onclick="navigateToSection('비밀번호 변경')">
                        <h3>비밀번호 변경</h3>
                </div>
                <div class="memberInfo-item" onclick="navigateToSection('배송지 관리')">
                        <h3>배송지 관리</h3>
                </div>
                <div class="memberInfo-item" onclick="navigateToSection('회원탈퇴')">
                        <h3>회원탈퇴</h3>
                </div>
        </div>
    </div>


    <script>
        const loginButton = document.querySelector('.login-button');
   
        loginButton.addEventListener('click', function() {

        //console.log("작동");
        
        });
    </script>
    
</body>
</html>




