<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.admin.main.model.mapper.AnnouncementMapper">

	<select id="showAnnouncementList">
	SELECT * FROM ANNOUNCEMENT WHERE ANNOUNCEMENT.ANNOUNCE_DEL_FL ='N' 
	ORDER BY ANNOUNCE_NO ASC
	</select>
	
	<select id="searchAnnouncementList">
	SELECT *
		FROM 
			ANNOUNCEMENT
		WHERE 
			ANNOUNCE_DEL_FL  = 'N'
	        <choose>
	            <when test="selectedValue == '제목'">
	                AND ANNOUNCE_TITLE LIKE '%' || #{inputValue} || '%' 
	            </when>
	            <when test="selectedValue == '내용'">
	                AND ANNOUNCE_CONTENT LIKE '%' || #{inputValue} || '%' 
	            </when>
	            <otherwise>
	                AND ANNOUNCE_WRITE_DATE LIKE '%' || #{inputValue} || '%' 
	            </otherwise>
	        </choose>
		ORDER BY 
			ANNOUNCE_NO ASC
		
	</select>
	
	
	<select id="announceDetail">
	SELECT ANNOUNCE_TITLE,ANNOUNCE_CONTENT 
	FROM ANNOUNCEMENT
	WHERE ANNOUNCE_NO = #{announceNo}
	</select>
	
	
	<insert id="upload">
	INSERT INTO ANNOUNCEMENT VALUES (
	announce_no_seq.NEXTVAL,
	#{title},
	#{content},
	SYSDATE,
	DEFAULT
	)
	</insert>
	
	<update id="update">
	UPDATE ANNOUNCEMENT
	SET ANNOUNCE_TITLE = #{title} , ANNOUNCE_CONTENT = #{content}
	WHERE ANNOUNCE_NO = #{announceNo}
	</update>
	
	<update id="delete">
	UPDATE ANNOUNCEMENT
	SET ANNOUNCE_DEL_FL ='Y'
	WHERE ANNOUNCE_NO = #{announceNo}	
	</update>

</mapper>
