<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.admin.main.model.mapper.InquiryMapper">

	<select id="showInquiryList">
	SELECT * FROM TB_INQUIRY
	 WHERE 
	 INQUIRY_DEL_FL = 'N'
	 AND REPLY_IS = #{replyIs} 
	ORDER BY INQUIRY_NO DESC
	</select>
	
	
	<select id="inquiryDetail">
	SELECT 
    I.*, 
	    M.MEMBER_NICKNAME
	FROM 
	    TB_INQUIRY I
	JOIN 
	    TB_MEMBER M
	ON 
	    I.MEMBER_NO = M.MEMBER_NO
	WHERE 
	    I.INQUIRY_NO = #{inquiryNo}
	</select>
	
	<update id="reply">
	  UPDATE TB_INQUIRY
	  SET
	    REPLY_IS = 'Y',
	    REPLY_CONTENT = #{replyContent}
	  WHERE INQUIRY_NO = ${inquiryNo}
	</update>
	
	<!-- 검색된 모든 문의글 조회 -->
	<select id="searchInquiryList">
	    SELECT 
	        *
	    FROM 
	        "TB_INQUIRY"
	    WHERE 
	        INQUIRY_DEL_FL = 'N'
	        AND REPLY_IS = #{replyIs}
	        <choose>
	            <when test="selectedValue == '제목'">
	                AND INQUIRY_TITLE LIKE '%' || #{inputValue} || '%' 
	            </when>
	            <when test="selectedValue == '내용'">
	                AND INQUIRY_CONTENT LIKE '%' || #{inputValue} || '%' 
	            </when>
	            <otherwise>
	                AND INQUIRY_DATE LIKE '%' || #{inputValue} || '%' 
	            </otherwise>
	        </choose>
	    ORDER BY 
	        INQUIRY_NO DESC
	</select>
	


</mapper>
