<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="edu.kh.admin.main.model.mapper.PerformanceMapper">

	<!-- 모든 공연장 조회 -->
	<select id="showPerformanceList">
		SELECT * FROM TB_VENUE
		ORDER BY
		OPENDE DESC
	</select>

	<!-- 검색된 모든 공연장 조회 -->
	<select id="searchPerformanceList">
		SELECT
		*
		FROM
		TB_VENUE
		WHERE
		<choose>
			<when test="selectedValue == '시설명'">
				"FCLTYNM" LIKE '%' || #{inputValue} || '%'
			</when>
			<when test="selectedValue == '주소'">
				"ADRES" LIKE '%' || #{inputValue} || '%'
			</when>
			<otherwise>
				"TELNO" LIKE '%' || #{inputValue} || '%'
			</otherwise>
		</choose>
		ORDER BY
		OPENDE DESC
	</select>

	<insert id="insert">
		INSERT INTO TB_VENUE (
		MT10ID,
		FCLTYNM,
		MT13CNT,
		FCLTYCHARTR,
		OPENDE,
		SEATSCALE,
		TELNO,
		RELATEURL,
		ADRES,
		FCLTLA,
		FCLTLO
		)
		VALUES (
		#{MT10ID},
		#{FCLTYNM},
		#{MT13CNT},
		#{FCLTYCHARTR},
		#{OPENDE},
		#{SEATSCALE},
		#{TELNO},
		#{RELATEURL},
		#{ADRES},
		#{FCLTLA},
		#{FCLTLO}
		)
	</insert>

	<select id="performanceDetailList">
		SELECT *
		FROM TB_VENUE
		WHERE MT10ID = #{mt10ID}
	</select>

	<select id="IDCheck">
		SELECT MT10ID
		FROM TB_VENUE
	</select>

	<update id="update">
		UPDATE TB_VENUE
		SET
		FCLTYNM = #{FCLTYNM},
		MT13CNT =
		#{MT13CNT},
		FCLTYCHARTR = #{FCLTYCHARTR},
		OPENDE = #{OPENDE},
		SEATSCALE =
		#{SEATSCALE},
		TELNO = #{TELNO},
		RELATEURL = #{RELATEURL},
		ADRES =
		#{ADRES},
		FCLTLA = #{FCLTLA},
		FCLTLO = #{FCLTLO}
		WHERE
		MT10ID = #{MT10ID}
	</update>

	<insert id="insertGrade">
		INSERT INTO TB_VENUE_SEAT_INFO
		VALUES (
		SEQ_VENUE_SEAT_ID.NEXTVAL,
		#{MT10ID},
		#{grade},
		#{count}
		)
	</insert>

	<select id="seatInfoDetailList">
		SELECT GRADE_ID , SEAT_COUNT
		FROM TB_VENUE_SEAT_INFO
		WHERE MT10ID = #{MT10ID}
	</select>

	<delete id="deleteGrade">
		DELETE FROM TB_VENUE_SEAT_INFO
		WHERE MT10ID = #{MT10ID}
	</delete>

</mapper>
