<!-- templates/common/modals/login.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<!-- 로그인 모달 fragment 정의 -->
	<div th:fragment="loginModal" id="loginModal" class="modal">
		<div class="modal-content">
			<div class="modal-header">
				<h2>로그인</h2>
				<span class="close" onclick="closeModal('loginModal')">&times;</span>
			</div>
			<div class="modal-body">
				<!-- 로그인 Form -->
				<input type="text" id="memberLoginId" name="memberId" placeholder="아이디" required>

				<input type="password" id="memberLoginPw" name="password" placeholder="비밀번호"
					autocomplete="current-password" required>

				<button type="submit" id="login-Btn">로그인</button>

				<!-- 아이디/비밀번호 찾기 링크 -->
				<div class="find-links">
					<a href="/member/find">아이디/비밀번호 찾기</a>
				</div>

				<!-- 네이버 로그인 -->
				<a href="/naver/login">
					<img src="/images/naver_login_button.png" alt="네이버 로그인" style="width: 45px; height: 45px;">
				</a>
			</div>

			<div class="modal-footer">
				<p>아직 계정이 없으신가요?
					<a href="#" onclick="openModal('selectModal'); closeModal('loginModal')">
						회원가입
					</a>
				</p>
				<p>공연 관리자 이신가요?
					<a href="#" onclick="openModal('adminLoginModal'); closeModal('loginModal')">
						공연 관리자 로그인
					</a>
				</p>
			</div>
		</div>
	</div>

</body>

</html>