<!-- templates/common/modals/user-signup.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="userSignupModal" id="userSignupModal" class="modal">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="back-button" onclick="openModal('selectModal'); closeModal('userSignupModal')"></a>
				<h2>회원가입</h2>
				<span class="close" onclick="closeModal('userSignupModal')">&times;</span>
			</div>
			<div class="modal-body">
				<form id="signUpForm" action="/member/signup" method="POST">
					<input type="text" name="memberEmail" id="memberEmail" placeholder="이메일을 입력하세요 *">
					<span class="signUp-message" id="emailMessage"></span>
					<button type="button" id="sendAuthKeyBtn" class="auth-btn get-code-btn">인증번호 받기</button>

					<div class="verification-container" style="margin-top : 10px;">
						<input type="text" id="authKey" placeholder="인증번호 입력 *">
						<button type="button" id="checkAuthKeyBtn" class="auth-btn verify-code-btn">인증하기</button>
					</div>
					<span class="signUp-message" id="authKeyMessage"></span>

					<input id="memberId" name="memberId" type="text" placeholder="아이디 입력 *">
					<span class="signUp-message" id="idMessage"></span>

					<input id="memberPw" name="memberPw" type="password" placeholder="비밀번호 입력 *"
						autocomplete="new-password" required>
					<span class="signUp-message" id="pwMessage"></span>

					<input id="memberPwConfirm" type="password" placeholder="비밀번호 확인 입력 *" autocomplete="new-password"
						required>
					<span class="signUp-message" id="confirmPwMessage"></span>

					<input id="memberNickname" name="memberNickname" type="text" placeholder="닉네임 *">
					<span class="signUp-message" id="nickMessage"></span>

					<input id="memberTel" name="memberTel" type="text" placeholder="전화번호 (예: 01012345678) *">
					<span class="signUp-message" id="telMessage"></span>

					<div class="verification-container">
						<input type="text" name="memberAddress" placeholder="우편번호" maxlength="6" id="postcode">
						<button type="button" id="searchAddress">검색</button>
					</div>

					<input type="text" name="memberAddress" placeholder="도로명/지번 주소" id="address">
					<input type="text" name="memberAddress" placeholder="상세 주소" id="detailAddress">

					<div class="gender-radio-container">
						<label for="maleRadio" class="gender-radio">
							<input type="radio" id="maleRadio" name="gender" value="male">
							남자 *
						</label>
						<label for="femaleRadio" class="gender-radio">
							<input type="radio" id="femaleRadio" name="gender" value="female">
							여자 *
						</label>
					</div>

					<button type="submit" class="auth-btn sign-up-btn">회원가입</button>
				</form>
			</div>
			<div class="modal-footer">
				<p>이미 계정이 있으신가요?
					<a href="#" onclick="openModal('loginModal'); closeModal('userSignupModal')">로그인</a>
				</p>
			</div>
		</div>
	</div>
</body>

</html>